﻿@model ZooStatusViewModel

<div class="row">
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Zoo Status</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Total Animals:
                            <span id="totalAnimals">
                                @Html.DisplayFor(m => m.TotalAnimalsCount)
                            </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Alive Animals:
                            <span id="aliveAnimals">
                                @Html.DisplayFor(m => m.AliveAnimalsCount)
                            </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Deceased Animals:
                            <span id="deceasedAnimals">
                                @Html.DisplayFor(m => m.DeceasedAnimalsCount)
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary" id="feed">Feed</button>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Time</h3>
            </div>
            <div class="panel-body">
                <div class="font-size-lg">
                    <span id="time">@Model.Time.ToString("h:mm tt")</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Animals</h3>
        </div>
        <div class="panel-body">
            <table id="animalData">
                <thead>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            Health
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    var dataTable;
    $(function () {

        dataTable = $("#animalData").DataTable(
            {
                "paging": false,
                "searching": false,
                "ajax": "@Url.Action("GetAnimals", "Home")",
                "columns": [
                    { "data": "type" },
                    { "data": "health" },
                    { "data": "status" }]
            });

        // Issue a post to the Feed action when this is clicked.
        $("#feed").click(function () {
            $.post("@Url.Action("Feed", "Home")")
                .then(loadData)
        });

        // Load SignalR.
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/timeHub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        // Load data whenever the zoo state changed event has been triggered.
        connection.on("ZooChanged", function () {
            loadData();
        });

        // Load data whenever the time changed event has been triggered.
        connection.on("TimeChanged", function (time) {
            $("#time").text(time);
        });

        connection.start();
    });

    /** Load the data for the page.
    */  
    function loadData() {
        getSummary();
        dataTable.ajax.reload();
    }

    /** Load the summary values for the page.
    */
    function getSummary() {
        $.get({ url: "@Url.Action("GetSummary", "Home")", cache: false },  function (data) {
            $("#totalAnimals").text(data.totalAnimalsCount);
            $("#aliveAnimals").text(data.aliveAnimalsCount);
            $("#deceasedAnimals").text(data.deceasedAnimalsCount);
        });
    }


</script>